.DS_Store
.idea/
.coverage
.pytest_cache/
.ruff_cache/
.venv/
__pycache__/
*.egg-info/
*.pyc

data/raw/*
data/bronze/*
data/silver/*
data/gold/*

!data/raw/.gitkeep
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep
.vercel
